In [1]:
import pandas as pd
import numpy as np

In [135]:
free_compliments_df = pd.read_csv('FreeCompliments-filtered.csv', sep='\t', na_values='[]', names=['Thread', 'Username', 'code', 'id', 'something', 'comment', 'attribute_1', 'attribute_2'])

In [136]:
free_compliments_df.head()

,Thread,Username,code,id,something,comment,attribute_1,attribute_2
0,FreeCompliments,Golden161,cao8gsf,1371938253,3,Stay away from people who can't put themselves...,['shoe'],['shoe']
1,FreeCompliments,beebeedoom,caoa1we,1371943954,3,"If the answer is no, then you accept the hand ...",['hand'],['hand']
2,FreeCompliments,[deleted],caoeg34,1371959999,3,I know you have it in you to face your current...,"['head', 'face']","['head', 'face']"
3,FreeCompliments,Orions_End,chplg8k,1400883120,3,You serve our kind with great honor.,['kind'],NaN
4,FreeCompliments,HAAAANS,chqivqk,1400995411,4,That's your foot hold to climb the fucking mou...,['foot'],['foot']

In [25]:
indices = np.random.randint(0, len(free_compliments_df), size=15)

for pos, text in enumerate(free_compliments_df['comment'].iloc[indices]):
    print(f"Comment #{pos}: {text}")

Comment #0: Your eyebrows are on fleek!!
Comment #1: Add to that, your bone structure is amazing!
Comment #2: You may have rough weeks, but that sweet smile of yours can cheer anyone up
Comment #3: Your hair is perfect.
Comment #4: You have a sweet face too.
Comment #5: So many people would give an arm to have your hair!
Comment #6: I look forward to reading your book...this is for a jacket liner, right?
Comment #7: Keep smiling, as much as you can.
Comment #8: Your legs look super in shape!
Comment #9: Hot;) Your inbox is probably full of dicks right now
Comment #10: I like your intelligent eyes.
Comment #11: I love your hair!!!!
Comment #12: If you lost some weight in your face, you would easily slay.
Comment #13: You have very beautiful eyes.
Comment #14: Keep your head up!

What we need to do here is to split the two attributes columns, check which are duplicates, remove the duplicates, then combine them back

In [26]:
print(free_compliments_df['attribute_1'].value_counts())
print(free_compliments_df['attribute_2'].value_counts())

['smile']                           2406
['hair']                            2238
['eye']                             2187
[]                                  1273
['face']                            1113
                                    ...
['soul', 'head']                       1
['shoulder', 'eye', 'hair']            1
['eyebrow', 'complexion', 'eye']       1
['makeup', 'lip', 'eye', 'face']       1
['smile', 'dimple', 'hair']            1
Name: attribute_1, Length: 856, dtype: int64
[]                                2713
['smile']                         2543
['eye']                           2312
['hair']                          2301
['face']                          1162
                                  ...
['makeup', 'weight']                 1
['makeup', 'head', 'eye']            1
['hand', 'beard', 'head']            1
['eyebrow', 'haircut', 'hair']       1
['jawline', 'cheek']                 1
Name: attribute_2, Length: 603, dtype: int64

In [27]:
print(len(free_compliments_df))

19272

In [138]:
toast_me_df = pd.read_csv('ToastMe-filtered.csv', sep='\t', na_values='[]', names=['Thread', 'Username', 'code', 'id', 'something', 'comment', 'attribute_1', 'attribute_2'])
toast_me_df.head()

,Thread,Username,code,id,something,comment,attribute_1,attribute_2
0,toastme,WizardSleeves118,cuxedha,1441932754,8,What the mind just in a glance interprets as y...,"['heart', 'soul']",NaN
1,toastme,WizardSleeves118,cuxedha,1441932754,8,Your pure enjoyment of life and of others' hap...,['happiness'],NaN
2,toastme,WizardSleeves118,cuyolzv,1442029607,4,"I love your hair and your smile, and you would...","['smile', 'hair', 'dress']","['smile', 'hair']"
3,toastme,WizardSleeves118,cv3xaw5,1442436332,6,I think I feel this way because you look like ...,['kind'],NaN
4,toastme,wumikomiko,cv45y5x,1442450547,3,The sheer orgasmic force from your pictures sh...,['soul'],NaN

In [21]:
len(toast_me_df)

23506

In [139]:
roast_me_df = pd.read_csv('RoastMe-filtered.csv', sep='\t', na_values='[]', names=['Thread', 'Username', 'code', 'id', 'something', 'comment', 'attribute_1', 'attribute_2'])
roast_me_df.head()

,Thread,Username,code,id,something,comment,attribute_1,attribute_2
0,RoastMe,Tyoko,cqlbxex,1429741144,3,It looks like someone burnt the left side of y...,['hair'],['hair']
1,RoastMe,SwagmasterEDP,cqlco3n,1429742402,5,you look like the kind of guy who would make a...,['kind'],NaN
2,RoastMe,lolwtface,cspe48j,1435800657,86,You need to switch adjectives between your bod...,['hair'],"['hair', 'body']"
3,RoastMe,lolwtface,cspe6c0,1435800769,347,You look like you got paid to hold a dudes loa...,NaN,['mouth']
4,RoastMe,lolwtface,cspe92u,1435800909,35,Your face has more topography than the wall.,['face'],['face']

In [140]:
overall_df = pd.concat([free_compliments_df, toast_me_df, roast_me_df], axis=0)

print(f"Total number of data: {len(overall_df)}")
print(overall_df.head())

Total number of data: 111006
            Thread    Username     code          id  something  \
0  FreeCompliments   Golden161  cao8gsf  1371938253          3
1  FreeCompliments  beebeedoom  caoa1we  1371943954          3
2  FreeCompliments   [deleted]  caoeg34  1371959999          3
3  FreeCompliments  Orions_End  chplg8k  1400883120          3
4  FreeCompliments     HAAAANS  chqivqk  1400995411          4

                                             comment       attribute_1  \
0  Stay away from people who can't put themselves...          ['shoe']
1  If the answer is no, then you accept the hand ...          ['hand']
2  I know you have it in you to face your current...  ['head', 'face']
3               You serve our kind with great honor.          ['kind']
4  That's your foot hold to climb the fucking mou...          ['foot']

        attribute_2
0          ['shoe']
1          ['hand']
2  ['head', 'face']
3               NaN
4          ['foot']

Let's add a column 0, 1 where 1 is for compliment and 0 is for insult

In [141]:
overall_df['Thread'].value_counts()

RoastMe            68228
toastme            23506
FreeCompliments    19272
Name: Thread, dtype: int64

We can see that the dataset is skewed towards insults more so than towards compliments

In [142]:
overall_df['sentiment'] = overall_df['Thread'].apply(lambda x: 0 if x == 'RoastMe' else 1)

In [143]:
overall_df['sentiment'].value_counts()

0    68228
1    42778
Name: sentiment, dtype: int64

Let's drop the code, id, and something columns

In [144]:
overall_df = overall_df.drop(columns=["code", 'id', 'something'])
overall_df.head()

,Thread,Username,comment,attribute_1,attribute_2,sentiment
0,FreeCompliments,Golden161,Stay away from people who can't put themselves...,['shoe'],['shoe'],1
1,FreeCompliments,beebeedoom,"If the answer is no, then you accept the hand ...",['hand'],['hand'],1
2,FreeCompliments,[deleted],I know you have it in you to face your current...,"['head', 'face']","['head', 'face']",1
3,FreeCompliments,Orions_End,You serve our kind with great honor.,['kind'],NaN,1
4,FreeCompliments,HAAAANS,That's your foot hold to climb the fucking mou...,['foot'],['foot'],1

In [146]:
overall_df['attribute_1']

0                ['shoe']
1                ['hand']
2        ['head', 'face']
3                ['kind']
4                ['foot']
               ...
68223        ['eyeliner']
68224        ['eyeliner']
68225                 NaN
68226                 NaN
68227                 NaN
Name: attribute_1, Length: 111006, dtype: object

In [147]:
attributes_1 = overall_df['attribute_1'].str.replace(r"[\[\]']", "", regex=True).str.split(", ", expand=True)
attributes_2 = overall_df['attribute_2'].str.replace(r"[\[\]']", "", regex=True).str.split(", ", expand=True)

attributes_1.head()

      0     1     2     3     4     5     6     7     8
0  shoe  None  None  None  None  None  None  None  None
1  hand  None  None  None  None  None  None  None  None
2  head  face  None  None  None  None  None  None  None
3  kind  None  None  None  None  None  None  None  None
4  foot  None  None  None  None  None  None  None  None

In [155]:
all_attributes = pd.concat([attributes_1, attributes_2], axis=1)

attributes_fixed = all_attributes.apply(lambda x: pd.unique(x[x.notnull()]), axis=1)

In [157]:
overall_df = overall_df.drop(['attribute_1', 'attribute_2'], axis=1)
overall_df['attributes'] = attributes_fixed
overall_df.head()

,Thread,Username,comment,sentiment,attributes
0,FreeCompliments,Golden161,Stay away from people who can't put themselves...,1,[shoe]
1,FreeCompliments,beebeedoom,"If the answer is no, then you accept the hand ...",1,[hand]
2,FreeCompliments,[deleted],I know you have it in you to face your current...,1,"[head, face]"
3,FreeCompliments,Orions_End,You serve our kind with great honor.,1,[kind]
4,FreeCompliments,HAAAANS,That's your foot hold to climb the fucking mou...,1,[foot]

This is the final, cleaned dataset.

In [159]:
overall_df.isna().sum()

Thread        0
Username      0
comment       0
sentiment     0
attributes    0
dtype: int64

Let's save this new dataset to use it for training

In [161]:
overall_df.to_csv('./cleaned_overall.csv')

https://aclanthology.org/2021.woah-1.14.pdf